*.iml
.gradle
.idea
.DS_Store
/build

/captures
.externalNativeBuild
.cxx
build
local.properties
/.kotlin/
/KmpSqlencrypt/src/nativeInterop/linuxX64/sqlite3
/KmpSqlencrypt/src/nativeInterop/linuxArm64/sqlite3